* {
  font-family: "sans-serif";
}

body {
  margin: 0;
}

header {
  background-color: burlywood;
  padding: 0.5rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5rem;
}

header > h1 {
  margin: 0;
  color: #fff8;
  filter: invert(100%);
}

section {
  padding: 0.5rem;
}

button {
  background-color: navajowhite;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: filter 0.05s;
  box-shadow: 0 0.125rem 0 burlywood;
  margin: 0.25rem;
}

button:hover {
  filter: brightness(95%);
}

button:active {
  position: relative;
  top: 0.125rem;
  box-shadow: 0 -0.125rem 0 burlywood;
  filter: brightness(85%);
}
